<!DOCTYPE html>
<html>
<body>

<h1>Simple heading</h1>
<p>Hello, my name is {{ ansible_hostname }}!<p> <br>
<p>This page just replaces default welcom page.</p>

<img src="https://media.tenor.com/0EDznml5BDAAAAAj/cat-spinning.gif" alt="spinning cat is missing:(">

</body>
</html>
